@model WebApplication1.Models.ProjectModel

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Update Project</h4>
        
        @Html.EditorFor(model => Model)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
                @Html.ActionLink("Delete", "Delete", new { id = Model.ID })
                @Html.ActionLink("Generate Presentation", "GetPresentation", new { id = Model.ID })
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}