@model WebApplication1.Models.ProjectModel

<h1>@Html.DisplayFor(model => model.Title)</h1>

@foreach (var role in Model.Roles)
{
    <h3>@Html.DisplayFor(model => role.Name)</h3>
    
    foreach (var talent in role.Talent)
    {
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td width="80" rowspan="2"><img src="@Html.DisplayFor(model => talent.ProfilePicture)" height="60" width="60" /></td>
                    <td><b>@string.Format("{0} {1}", talent.FirstName, talent.LastName)</b></td>
                    <td>Height: @Html.DisplayFor(model => talent.Height)</td>
                    <td>Bust: @Html.DisplayFor(model => talent.BustSize)</td>
                </tr>
                <tr>
                    <td>Waist: @Html.DisplayFor(model => talent.WaistSize)</td>
                    <td>Hip: @Html.DisplayFor(model => talent.HipSize)</td>
                    <td>Shoe: @Html.DisplayFor(model => talent.ShoeSize)</td>
                </tr>
            </tbody>
        </table>
    }
}