@model WebApplication1.Models.ProjectRoleModel
@using PagedList.Mvc;  
@{
    ViewBag.Title = "Project";
}

<div>
    <h4>Project Talent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgeMin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgeMin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgeMax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgeMax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HeightMin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeightMin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HeightMax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeightMax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HairColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HairColor)
        </dd>

    </dl>
    @using (Html.BeginForm("RoleTalent", "Project", FormMethod.Get))
    {
        <p>
            Search Talent: @Html.CheckBox("searchMode", (bool)ViewBag.searchMode)
            <input type="submit" value="Go" />
        </p>
    }  
    <div class="row">
        @foreach (var item in Model.TalentPagedList)
        {
            @Html.DisplayFor(modelItem => item)
        }
    </div>
</div>
@Html.PagedListPager(Model.TalentPagedList, pageNo => Url.Action("RoleTalent", new { pageNo, viewMode = ViewBag.ViewMode }))
<p>
    @Html.ActionLink("Back to Project", "Edit", new { id = Model.ProjectID })
</p>

<script>
    $(function () {
        $(".tileCheck").click(function () {
            var action = "";
            var tileCheck = $(this);
            var talentID = $(this).children().val();
            var unchecked = $(this).hasClass("glyphicon-unchecked");
            if (unchecked) {
                action = "/Project/AddTalent";
            }
            else {
                action = "/Project/RemoveTalent";
            }

            $.ajax({
                url: action,
                data: { projectRoleID: @Model.ID, talentID: talentID },
                method:"POST",
                success: function () {
                    if (unchecked) {
                        tileCheck.removeClass("glyphicon-unchecked");
                        tileCheck.addClass("glyphicon-check");
                    }
                    else {
                        tileCheck.addClass("glyphicon-unchecked");
                        tileCheck.removeClass("glyphicon-check");
                    }
                }
            });
            return false;
        });
    });
</script>