@model WebApplication1.Models.ProjectRoleModel
@using PagedList.Mvc;  
@{
    ViewBag.Title = "Project";
}


<link href="~/Content/bootstrap-toggle.min.css" rel="stylesheet" />  
<script src="~/Scripts/bootstrap-toggle.min.js" type="text/javascript"></script>
<script src="~/Scripts/TalentSearch.js" type="text/javascript"></script>

<div>
    <h4>Project Talent</h4>
    <hr />

    <div class="row">
        <div class="group col-md-3">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
            </dl>
        </div>
        <div class="group col-md-3">
            <dl class="dl-horizontal">
                <dt>
                    Age Range
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AgeMin) to @Html.DisplayFor(model => model.AgeMax)
                </dd>
            </dl>
        </div>
        <div class="group col-md-3">
            <dl class="dl-horizontal">
                <dt>
                    Height Range
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.HeightMin) to @Html.DisplayFor(model => model.HeightMax)
                </dd>
            </dl>
        </div>
    </div>

    @using (Html.BeginForm("RoleTalent", "Project", FormMethod.Get, new { id = "form" }))
    {
        <p>
            @Html.Hidden("search", ViewBag.FilterValue as string)

            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group" style="white-space: nowrap;">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span id="searchType">FirstName</span> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">FirstName</a></li>
                                <li><a href="#">LastName</a></li>
                                <li><a href="#">Height</a></li>
                                <li><a href="#">BustSize</a></li>
                                <li><a href="#">WaistSize</a></li>
                                <li><a href="#">HipSize</a></li>
                                <li><a href="#">ShoeSize</a></li>
                                <li><a href="#">RepName</a></li>
                                <li><a href="#">DateOfBirth</a></li>
                                <li><a href="#">Country</a></li>
                                <li><a href="#">EyeColor</a></li>
                                <li><a href="#">ShoeSize</a></li>
                                <li><a href="#">HairColor</a></li>
                                <li><a href="#">Ethnicity</a></li>
                                <li><a href="#">Talent</a></li>
                            </ul>
                        </div><!-- /btn-group -->
                        @Html.TextBox("Value", "", new { placeholder = "Search", @class = "form-control", @style = "width:80%" })
                        <span>
                            <input class="btn btn-default" type="submit" value="Go" />
                            @Html.CheckBox("searchMode", (bool)ViewBag.searchMode)
                        </span>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
            <h4 id="searchList" style="line-height: inherit;"></h4>
        </p>
        @*<p>
            @Html.TextBox("search", ViewBag.FilterValue as string, new { placeholder = "Search" }) @Html.CheckBox("searchMode", (bool)ViewBag.searchMode) Search All
            <input type="submit" value="Find" />
        </p>*@
    }  
    <div class="row">
        @foreach (var item in Model.TalentPagedList)
        {
            @Html.DisplayFor(modelItem => item)
        }
    </div>
</div>
@Html.PagedListPager(Model.TalentPagedList, pageNo => Url.Action("RoleTalent", new { pageNo, viewMode = ViewBag.ViewMode, filterValue = ViewBag.FilterValue, searchMode = ViewBag.SearchMode }))
<p>
    @Html.ActionLink("Back to Project", "Edit", new { id = Model.ProjectID })
</p>

<script>
    $(function () {
        $('#searchMode').bootstrapToggle({
            on: 'All Talent',
            off: 'Project Only'
        });

        $(".tileCheck").click(function () {
            var action = "";
            var tileCheck = $(this);
            var talentID = $(this).children().val();
            var unchecked = $(this).hasClass("glyphicon-unchecked");
            if (unchecked) {
                action = "/Project/AddTalent";
            }
            else {
                action = "/Project/RemoveTalent";
            }

            $.ajax({
                url: action,
                data: { projectRoleID: @Model.ID, talentID: talentID },
                method:"POST",
                success: function () {
                    if (unchecked) {
                        tileCheck.removeClass("glyphicon-unchecked");
                        tileCheck.addClass("glyphicon-check");
                    }
                    else {
                        tileCheck.addClass("glyphicon-unchecked");
                        tileCheck.removeClass("glyphicon-check");
                    }
                }
            });
            return false;
        });
    });
</script>