@model WebApplication1.Models.TalentModel

<div class="col-sm-6 col-md-3 tile">
    <div class="thumbnail tileHeight">
        <img src="@Html.DisplayFor(model => model.ProfilePicture)" class="tileImage">
        <div class="caption">
            <h3 class="tileTitle">@Html.ActionLink(string.Format("{0} {1}", Model.FirstName, Model.LastName), "Edit", new { id = Model.ID })</h3>
            <span><b>Height:</b> @Html.DisplayFor(model => model.Height)</span><br />
            <span><b>Eye Color:</b> @Html.DisplayFor(model => model.EyeColor)</span><br />
            <span><b>Email:</b> @Html.DisplayFor(model => model.Email)</span><br />
            <span><b>Phone:</b> @Html.DisplayFor(model => model.Phone)</span><br />
            <span><b>Representative:</b> @Html.DisplayFor(model => model.Representative)</span>
        </div>
    </div>
</div>