@model WebApplication1.Models.TalentModel

<div class="col-xs-10 col-sm-6 col-md-6 tile">
    <div class="thumbnail tileHeight">
        <div class="tileImageDiv">
            <img src="@Html.DisplayFor(model => model.ProfilePicture)" class="tileImage">
        </div>
        <div class="caption">
            <div>
                <h3 class="tileTitle">@Html.ActionLink(string.Format("{0} {1}", Model.FirstName, Model.LastName), "Edit", new { id = Model.ID })</h3>
                @if (Model.ShowCheck)
                {
                    <span class="glyphicon @Model.CheckClass tileCheck" aria-hidden="true">
                        <input type="hidden" value="@Model.ID" />
                    </span>
                }
            </div>
            <span><b>Height:</b> @Html.DisplayFor(model => model.Height)</span><br />
            <span><b>Bust:</b> @Html.DisplayFor(model => model.BustSize)</span><br />
            <span><b>Waist:</b> @Html.DisplayFor(model => model.WaistSize)</span><br />
            <span><b>Hip:</b> @Html.DisplayFor(model => model.HipSize)</span><br />
            <span><b>Shoe:</b> @Html.DisplayFor(model => model.ShoeSize)</span>
        </div>
    </div>
</div>