@model WebApplication1.Models.ClientModel

<hr />

<div class="form-group">
    <div class="col-md-offset-2 col-md-10" style="color:red">
        @ViewBag.Message
    </div>
</div> 

@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="form-group">
    @Html.LabelFor(model => model.Company, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Company, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Company, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Country)
        @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.BillingInfo, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.BillingInfo, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.BillingInfo, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.AdminEmail, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.AdminEmail, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.AdminEmail, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Contacts, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        <ul id="clientContacts" class="nav nav-pills nav-stacked role">
            @foreach (var item in Model.Contacts)
            {
                @Html.EditorFor(modelItem => item);
            }
        </ul>
        <div>
            <button id="addContact" type="button" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
        </div>
    </div>
</div>

<script>
    $(function () {
        $("#addContact").click(function () {
            var count = $("#clientContacts").children().length;

            $.ajax({
                url: "/Client/AddContact",
                cache: false,
                data: { count: count },
                success: function (html) { $("#clientContacts").append(html); }
            });
            return false;
        });
    });

    function deleteContact(btn) {
        btn.parent().next().remove();
        btn.parent().remove();
    }
</script>