@using WebApplication1.Extensions
@model WebApplication1.Models.ContactModel

@using (Html.BeginCollectionItem("Contacts"))
{
    <li role="presentation" class="active">
        <a data-toggle="collapse" href="#@Html.ValueFor(Model => Model.FullNameNoSpace)" aria-expanded="false" aria-controls="@Html.ValueFor(Model => Model.FullNameNoSpace)" class="collapsed">
            @Html.ValueFor(Model => Model.FullName)
        </a>
        <button type="button" class="btn btn-default" aria-label="Left Align" onclick="deleteContact($(this))">
            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
        </button>
    </li>
    <li class="item">
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.SourceID)
        <div id="@Html.ValueFor(Model => Model.FullNameNoSpace)" class="collapse" role="tabpanel">
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.JobTitle, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.JobTitle, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.JobTitle, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </li>
}