@using WebApplication1.Extensions
@model WebApplication1.Models.ProjectRoleModel

@using (Html.BeginCollectionItem("Roles"))
{
    @Html.HiddenFor(model => model.ID);
    @Html.HiddenFor(model => model.ProjectID);
    <li role="presentation" class="active">
        <a data-toggle="collapse" href="#@Html.DisplayFor(Model => Model.Name)" aria-expanded="false" aria-controls="@Html.DisplayFor(Model => Model.Name)" class="collapsed">
            @Html.DisplayFor(Model => Model.Name)<span class="badge">@Html.DisplayFor(Model => Model.TalentCount)</span>
        </a>
        <button id="removeRole" type="button" class="btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
        </button>
        <button id="roleTalent" type="button" class="btn btn-default" aria-label="Left Align" onclick="window.location.href = '/Project/RoleTalent/@Model.ID'">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        </button>
    </li>
    <li class="item">
        <div id="@Html.DisplayFor(Model => Model.Name)" class="collapse" role="tabpanel">
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.AgeMin, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.AgeMin, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AgeMin, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.AgeMax, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.AgeMax, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AgeMax, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.HeightMin, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.HeightMin, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HeightMin, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.HeightMax, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.HeightMax, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HeightMax, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.HairColor, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.HairColor, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HairColor, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </li>
}