@model PagedList.IPagedList<WebApplication1.Models.TalentModel>
@using PagedList.Mvc;  
@{
    ViewBag.Title = "Talent";
}

<link href="~/Content/PagedList.css" rel="stylesheet" />  
<script src="~/Scripts/TalentSearch.js" type="text/javascript"></script>

<h4>
    @Html.ActionLink("Add New Talent", "Add")
</h4>
@using (Html.BeginForm("Index", "Talent", FormMethod.Get, new { id = "form" }))
{
    <p>
        @Html.Hidden("search", ViewBag.FilterValue as string)

        <div class="row">
            <div class="col-lg-6">
                <div class="input-group" style="white-space: nowrap;">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span id="searchType">FirstName</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">FirstName</a></li>
                            <li><a href="#">LastName</a></li>
                            <li><a href="#">Height</a></li>
                            <li><a href="#">BustSize</a></li>
                            <li><a href="#">WaistSize</a></li>
                            <li><a href="#">HipSize</a></li>
                            <li><a href="#">ShoeSize</a></li>
                            <li><a href="#">RepName</a></li>
                            <li><a href="#">DateOfBirth</a></li>
                            <li><a href="#">Country</a></li>
                            <li><a href="#">EyeColor</a></li>
                            <li><a href="#">ShoeSize</a></li>
                            <li><a href="#">HairColor</a></li>
                            <li><a href="#">Ethnicity</a></li>
                            <li><a href="#">Talent</a></li>  
                            <li><a href="#">Gender</a></li>   
                        </ul>    
                    </div><!-- /btn-group -->
                    @Html.TextBox("Value", "", new { placeholder = "Search", @class = "form-control", @style = "width:80%" })
                    <span>
                        <input class="btn btn-default" type="submit" value="Go"/>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
        <h4 id="searchList" style="line-height: inherit;"></h4>
    </p>
}  

<div class="row">
    @foreach (var item in Model)
    {
        @Html.DisplayFor(modelItem => item)
    }
</div>

@Html.PagedListPager(Model, pageNo => Url.Action("Index", new { pageNo, sortOrder = ViewBag.CurrentSortOrder, sortDirection = ViewBag.CurrentsortDirection, filterValue = ViewBag.FilterValue }))